h1{
    background-color: #e6f16b;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 20pt;
}

/*
.UpperCase{
    text-transform: uppercase;
}

.lights{
    text-decoration-color: aqua;
    text-decoration: underline;
}

.red{
    background-color: red;
}
*/