#note-container{
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}
.red{
    background-color: indianred;
    cursor: pointer;
}
.center{
    margin-top: 15px;
    text-align: cen;
}
input{
    width: 99%;
    display: block;
    text-align: left;
    color:black;
    font-size: 8pt;
    font-weight: bold;
}

textarea{
    width: 99%;
}