<app-header />

<!--
<app-add-note/>
<app-notes-list />

<br><br><br>
<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/contacts">Contacts</a>
  <a routerLink="/test">Unknown Path</a>
  <button (click)="navigate()">Contacts</button>
</nav>
-->

<router-outlet />

<!--
<br>
<label>
  Name: <input type="text" [(ngModel)]="name"/>
</label>
<p>{{name}}</p>

<br>
Form template
<form (ngSubmit)="showName()" #myForm="ngForm">
  <input type="text" [(ngModel)]="name" name="name" required/>
  <input type="submit" value="Submit" [disabled]="!myForm.form.valid">
</form>

Form reactive example
<form (submit)="showName2()">
  <input type="text" [formControl]="name2" name2="name2" />
  <input type="submit" value="submit" />
</form>
<p>{{ name2.value }}</p>

<br>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p><input type="text" formControlName="username" /></p>
  <p><input type="text" formControlName="password" /></p>
  <p><input type="submit" value="Submit" [disabled]="!loginForm.valid"/></p>
  <p><input type="reset" value="reset" (click)="loginForm.reset()"/></p>
</form>
-->

